################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/Packages
/Src/SitecoreDocumenter.Web/StyleCop.Cache
/Src/SitecoreDocumenter.Web/bin
/Src/SitecoreDocumenter.Web/obj
*.user
*.suo

